body {
    margin: 8px;
    font-size: 125%; /* 1em = 20px */
    font-family: Arial, sans-serif;
    background: #0c1820;
    color: #eee;
}
@media (min-height: 800px) and (min-width: 1000px) {
    body { font-size: 187.5%; }
}
h1 {
    margin-bottom: 0;
    float: right;
    font-family: Podkova, Arial, sans-serif;
    font-size: 1em;
    letter-spacing: 1px;
}

/* LINKS AND BUTTONS */
a {
    color: #a8f;
    text-decoration: none;
    transition: color 0.3s;
}
a:focus {
    color: #caf;
    outline: none!important;
}
a:active
a.pressed {
    color: #fff;
}
a:hover {
    color: #f09;
}

nav .btn {
    width: 2em;
}
.btn {
    display: inline-block;
    margin-bottom: 0.2em;
    background: rgba(0,0,0,0.3);
    border: 0.1em solid rgba(153,102,255,0.5);
    border-radius: 0.2em;
    text-align: center;
    transition: background 0.6s, border-color 0.3s, color 0.15s;
}
.btn:focus {
    border-color: #caf;
    background: rgba(0,0,0,1);
}
.btn:active,
.btn.pressed {
    border-color: #fff;
    background: rgba(0,0,0,0);
}
.btn:hover {
    border-color: #f09;
    background: rgba(0,0,0,1);
}
.btn svg {
    width: 32px;
    height: 32px;
    margin-top: 5px;
}
.btn svg >* {
    fill: #a8f;
    transition: fill 0.15s;
}
.btn:focus svg >* {
    fill: #caf;
}
.btn:active svg >*,
.btn.pressed svg >* {
    fill: #fff;
}
.btn:hover svg >* {
    fill: #f09;
}




/* .layered-visualiser */
#seqinalysis canvas.layered-visualiser { /* seqinalysis.js will set the width and height */
    margin-top: 0.5em;
    background: rgba(0,0,0,0.5);
    border-radius: 0.4em 0.4em 0 0;
}




/* .shared-cache-visualiser */
#seqinalysis .shared-cache-visualiser {
    margin-bottom: 0.2em;
    background: rgba(0,0,0,0.5);
    height: 130px;
    border-radius: 0 0 0.4em 0.4em;
}
#seqinalysis figure {
    display: inline-block;
    margin: 8px 0 8px 8px;
}
#seqinalysis caption {
    visibility: hidden;
    position: absolute;
    margin-top: -100px;
    padding: 0.4em;
    background: rgba(0,0,0,0.9);
    font: 0.5em monaco, 'Lucida Console', monospace;
    color: #edf;
    opacity: 0;
    transition: opacity 0.5s, visibility 0.5s 0s;
}
#seqinalysis figure.show caption {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s;
}
#seqinalysis nav {
    margin-top: 0.5em;
    float: left;
}




/* .list-wrap */
#seqinalysis .list-wrap {
    width: 16rem;
    margin-bottom: 0.2em;
    padding: 0.1em 0.5em 0.8em;
    background: rgba(0,0,0,0.5);
    border-radius: 0.4em;
}
#seqinalysis .list-wrap >* {
    font-size: 0.75em;
}
#seqinalysis .list-wrap h4 {
    margin: 0.6em 0 0 0;
}
#seqinalysis .list-wrap p {
    margin: 0.6em 0 0.6em 1em;
}
@media (min-height: 800px) and (min-width: 1000px) {
    #seqinalysis .list-wrap p {
        margin: 0.4em 0 0.2em 1em;
    }
}
#seqinalysis .list-wrap a {
    float: right;
}
#seqinalysis .list-wrap a.btn {
    width: 1.5em;
    margin-bottom: 0;
}
#seqinalysis .list-wrap a.btn svg {
    width: 20px;
    height: 20px;
    margin-top: 0;
}




/* .seqin-directory */
#seqinalysis .seqin-directory .not-loaded {
    color: #888;
}
#seqinalysis .seqin-directory .loading {
    color: #f80;
}
#seqinalysis .seqin-directory .loading >* >a.load,
#seqinalysis .seqin-directory .loaded >* >a.load {
    display: none;
}
#seqinalysis .seqin-directory .not-loaded div p >a.load {
    display: none;
}
#seqinalysis .seqin-directory div p >a.add {
    display: none;
}
#seqinalysis .seqin-directory div.loaded div.loaded a.add {
    display: inherit;
}




/* .seqin-directory */
#seqinalysis .seqin-instances .has-perform-btns h4 .edit.btn {
    display: none;
}
